body {
  background-image: url(../src/bg-mario.png);
  background-position-y: center;
}
.container{
  margin-top: 3rem;
}
.jc-c{
  justify-content: center !important;
}
h1{
  color: white;
  background-color: red;
  text-align: center;
  padding: 1rem 0;
}
td{
  font-weight: bold;
  width: 150px;
}

audio{
  width: 300px;
}